<h1 id="page-title">Demonstration Ruby on Rails Application</h1>

<div class="article-list">
  <% @articles.each do |article| %>
    <div class="article">
      <h2 class="title"><%= link_to article.title, article %></h2>
    </div>
  <% end %>
</div>

<% if @articles.blank? %>
  <p><em>There are currently no articles.</em></p>
<% end %>

<div class="add-article"><%= button_to "New Article", new_article_path, :method => :get %></div>

<p class="app-info">This demonstration is modeled after the official <%= link_to 'Getting Started', 'http://guides.rubyonrails.org/getting_started.html' %> Rails Guide.</p>