<h1>Demonstration Ruby on Rails Application</h1>
<p>This demonstration is modeled after the official <%= link_to 'Getting Started', 'http://guides.rubyonrails.org/getting_started.html' %> Rails Guide.</p>
<p><%= link_to 'View all Articles', controller: 'articles' %></p>
