// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form input,
form textarea {
  font-size: 1em;
}

#error_explanation {
  color: #d8000c;
  background-color: #ffefef;
  border: 1px solid;
  margin: 0;
  padding: .5em 1em;
}

#error_explanation h2 {
  font-size: 1.25em;
}

#article_title {
  width: 60%;
}

#article_text {
  width: 60%;
  height: 8em;
}

.app-info {
  font-size: .8em;
  color: #555;
  margin-top: 4em;
  text-align: center;
}
